@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

* {
    color: white;
    margin: 1px;
    padding: 1px;
    font-family: 'Roboto', sans-serif;
}

.nav {
    background-color: rgb(88, 83, 83);
    justify-content: space-between;
    display: flex;
}
.nav-title {
    font-size: 30px;
    margin: 10px;

}

.nav-links {
    font-size: 15px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.nav-links a {
    display: flex; 
    text-decoration: none;
}

.active {
    font-size: 20px;
    font-weight: bolder;
}

.btn {
    background-color: rgb(17, 189, 172);
    width: 90px;
    height: 30px;
    font-size: 15px;
    font-weight: bolder;
    margin-right: 15px;
    border: 3px solid black;
    box-shadow: 2px 2px black; 
}