@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.nav {
    display: flex;
    background-color: rgb(66, 66, 66);
    justify-content: right;
    margin: 15px;
    box-shadow: white;
}
.nav-title {
    color: white;
    display: flex;
    padding: 10px;
    margin-left: 100px;
}

.nav-links {
    display: flex;
    justify-content: right;
    list-style-type: none;
    gap: 1.5em;
    margin: 1.5em;
}
.nav-links a {
    color: silver;
    text-decoration: none;
    
}

.btn {
    box-sizing: content-box;
    box-shadow: black;
}