/* Wild card selector - select EVERY ELEMENT on the page
/* CSS RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title {
    padding: 20px;
    border: 5px solid black;
    margin: 20px;
    width: 400px;
}

#box-model-list {
    margin-left: 40px;

}

p{
    margin-bottom: 20px;
    margin-left: 20px;
}

