*{
    margin: 0;
    padding: 0;
}
#header {
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#container {
    background-color: ivory;
    display: flex;
    border: red;
}

.dancing_kitty {
    background-color: burlywood;
    min-width: auto;
    height: 200px;
    display: flex; /* this line is new! */
}

.hallo_kitty {
    background: orchid;
    padding: 10px;
    min-width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
}
