* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container {
    margin: 0 auto;
    margin-top: 20px;
    width: 600px;
    border: gray;
}

.margin {
    background-color: mediumturquoise;
    outline: gray;
    position: relative;
    margin-top: 100px;
    padding: 150px;
}

h1 {
    justify-content: flex-start;
    display: flex;
    padding: 20px;
    margin-top: 20px;
    left: 30px;
}