* {
    text-align: center;
    margin: 30px;
    padding: 0px;
    font-family: fantasy;
}
#top {
    width: 600px;
    margin: 30px;
    border: 5px solid black;
    background-color: blue;
    padding: 20px 5px;
}

body {
    background-color: chocolate;
}

h1 {
    color: rgb(78, 7, 78);
    background-color: blueviolet;
    padding: 6px;
    /* This is a comment */
    /* ctrl+/ to make a comment */
}
#orange {
    color: orange;
    text-align: center;
}
.greenBG {
    background-color: seagreen;
}

#red {
width: 300px;
height: 300px;
background-color: red;
display: inline-block;
margin: 10px;
margin-right: 10px;
}

#white {
    width: 300px;
    height: 300px;
    background-color: white;
    display: inline-block;
    margin: 10px;
    margin-right: 10px;
    }

#blue {
    width: 300px;
    height: 300px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    margin: 10px;

}
/*  CSS strenths
basic tags (ex: h1, p, h4, li) - 1
classes - 10
id - 100
 */