.container {
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 1.5em;
}

.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 1.5em;
}

.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;

}

.main {
    height: 400px;
    width: 700px;
    background-color: red;
    padding: 1.5em;
}

.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
}

#advertisement {
    height: 120px;
    width: 100%;
    background-color: purple;
    margin-top: 1.5em;
}

.row {
    /* TODO - what should go here? */
    display: flex;
    gap: 1.5em;
}