.display{
    background: burlywood;
    width: 300px;
    min-height: 100px;
    display: inline-block;
}

/*
Inline:
Examples of inline elements by default
anchors <a>
formatting tags: <strong>, <em>
images are line by default

Width and height are ignored for inline-element

Inline-Block::after:
Inline-Block elments allow other elements to be on the same line(side by side)
Width and height are acknowledge (not ignored)

Block elements:
Block elements do not allow other elements to be on the same line.

*/

